*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', arial;
}

:root{
    --azul-escuro: #143d57;
    --azul-claro: #3498db;
    --azul-medio: #1A5276;
    --azul-mais-claro: #719EB9;
    --laranja: #DB9534;
    --cinza-escuro: #C2C2C2;
    --cinza-claro: #e0e0e0;
    --transicao: all 0.3s ease;
}

.d-flex{
    display: flex;
}

.between {
    justify-content: space-between;
    align-items: center;
}

.evenly{
    justify-content: space-evenly;
    align-items: center;
}

.around{
    justify-content: space-around;
    align-items: center;
}

.container{
    background-color: var(--azul-mais-claro);
    /* background-image: linear-gradient(to top, var(--azul-medio), var(--azul-mais-claro), var(--azul-medio)); */
    padding: 10vh 0;
}

.center{
    justify-content: center;
    align-items: center;
}

.column{
    flex-direction: column;
}

header{
    padding: 20px;
    background-color: var(--azul-medio);
}

.logo{
    height: 100px;
    display: block;
}

header>div{
    width: 20%px;
    align-items: center;
}

.gestor{
    text-align: center;
    color: var(--cinza-escuro);
}

.pessoal{
    text-align: center;
    font-size: 20px;
    color: var(--cinza-escuro);
}

.saudacao{
    background-color: var(--azul-medio);
    color: white;
    padding: 10px 10px 10px 3%;
}

nav{
    width: 50%;
}

header nav a{
    background-color: var(--cinza-claro);
    padding: 4px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    transition: var(--transicao);
}

header nav a:hover {
    background-color: var(--laranja);
    color: white;
    transform: translateY(-2px);
    transition: var(--transicao);
}

.banner{
    background-image: url(../img/banner-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    height: 60vh;
}

.banner p{
    width: 25%;
    font-size: 1.7em;
}

.banner p span{
    color: var(--laranja);
}

.banner div{
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 20px;
    width: 25%;
}

.banner form label{
    display: block;
    font-size: 1.05em;
}

.banner form input{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 7px;
    border-radius: 10px;
    background-color: var(--cinza-claro);
    border: none;
    font-size: 1.05em;
    border: 2px solid var(--cinza-escuro);
}

.banner form button{
    width: 100%;
    background-color: var(--azul-claro);
    padding: 7px;
    border: none;
    border-radius: 10px;
    font-size: 1.05em;
    transition: var(--transicao);
    color: white;
}

.banner form button:hover {
    background-color: var(--laranja);
    color: white;
    transform: translateY(-2px);
    transition: var(--transicao);
}

.titulo{
    text-align: center;
    padding: 20px 0;
    color: white;
}

.servico{
    width: 25%;
    box-shadow: 7px 7px 3px 4px var(--azul-escuro);
    background-color: var(--cinza-claro);
    padding: 20px;
    border-radius: 10px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.servico:hover {
    transform: translateY(-10px);
    box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.4);
    transition: var(--transicao);
}

.servico h3{
    padding-bottom: 10px;
}

footer{
    background-color: var(--azul-medio);
    color: white;
    padding: 0 20px 0 20px;
}

.redes img{
    width: 75px;
    padding-left: 20px;
}

.footer-logo{
    align-items: center;
}

.formulario{
    background-color: white;
    width: 60%;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
}

.formulario input{
    width: 50%;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1.05em;
    border-radius: 10px;
    border: 2px solid var(--cinza-escuro);
    background-color: var(--cinza-claro);
}

.formulario label{
    display: block;
    margin: auto;
    width: 50%;
    font-size: 1.05em;
}

.formulario button{
    width: 50%;
    background-color: var(--azul-claro);
    display: block;
    margin: auto;
    border: none;
    padding: 10px;
    font-size: 1.05em;
    border-radius: 10px;
    transition: var(--transicao);
    color: white;
}

.formulario button:hover {
    background-color: var(--laranja);
    color: white;
    transition: var(--transicao);
}

.formulario p{
    padding-top: 10px;
    text-align: center;
}

.formulario p a{
    text-decoration: none;
    color: var(--laranja);
    font-weight: bolder;
}

.erro{
    display: inline-block;
    background-color: var(--laranja);
    color: white;
    width: 60%;
    margin: 10px auto;
    text-align: center;
    border-radius: 10px;
    padding: 1em;
}

.bg-tabela{
    background-color: white;
    width: 60%;
    min-height: 20vh;
    border: 2px solid var(--cinza-escuro);
    border-radius: 10px;
    margin: auto;
    padding: 20px 0;
}

.tabela{
    background-color: white;
    width: 85%;
    border-collapse: collapse;
    /* margin: auto; */
    text-align: center;
    box-shadow: 5px 5px 10px 1px var(--azul-mais-claro);
    color: white;
    font-weight: bold;
}

.tabela tr, .tabela td, .tabela th{
    border: 1px solid black;
    padding: 10px;
    background-color: var(--azul-mais-claro);
}

.tabela a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

.container-perfil{
    min-height: calc(100vh - 290px);
}

.adicionar{
    background-color: var(--azul-claro);
    color: white;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    transition: var(--transicao);
}

.adicionar:hover{
    background-color: var(--laranja);
    transition: var(--transicao);
}

.bg-adicionar{
    margin-bottom: 10px;
    width: 85%;
}