<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar receita</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <header class="d-flex between">
        <div class="d-flex">
            <img src="../static/img/logo-img.png" alt="logo da Gestor Pessoal" class="logo">
            <div>
                <h1 class="gestor">GESTOR</h1>
                <h1 class="pessoal">-PESSOAL-</h1>
            </div>
        </div>
        <nav class="d-flex between">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('carteira') }}">Carteira</a>
            {% if usuario == None %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
            <a href="{{ url_for('perfil') }}">Perfil</a>
        </nav>
    </header>
    <main>
        <section class="container">
            <form action="adicionar_despesa" class="formulario" method="POST">
                <label for="valor">Valor</label>
                <input type="number" name="valor" id="valor" placeholder="Insira o valor da despesa" step="any" required>
                <label for="descricao">Descrição</label>
                <input type="text" name="descricao" id="descricao" placeholder="Insira a descrição da despesa ex.: Compras" required>
                <label for="data">Data</label>
                <input type="date" name="data" id="data" min="2025-01-01" max="9999-12-31" required>
                <button type="submit" class="btn">Adicionar despesa</button>
                <a href="{{ url_for('lista_despesas') }}" class="btn voltar">Voltar</a>
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <section>
                <div class="erro-menssagem d-flex center">
                    {% for category, message in messages %}
                    <div class="erro">{{ message }}</div>
                    {% endfor %}
                </div>
            </section>
            {% endif %}
            {% endwith %}
        </section>
    </main>
    <footer class="d-flex between">
        <div>
            <div class="d-flex footer-logo">
                <img src="../static/img/logo-img.png" alt="logo da Gestor Pessoal" class="logo">
                <div>
                    <h1 class="gestor">GESTOR</h1>
                    <h1 class="pessoal">-PESSOAL-</h1>
                </div>
            </div>
            <div class="redes">
                <img src="static/img/instagram-logo-img.png" alt="" class="footer-icon">
                <img src="static/img/facebook-logo-img.png" alt="Logo facebook" class="footer-icon">
                <img src="static/img/whatsapp-logo-img.png" alt="Logo whatsapp" class="footer-icon">
            </div>
        </div>
        <div>
            <address>
                <p>E-mail: gestor.pessoal@gmail.com</p>
                <p>Telefone: (18) 99694-9451</p>
                <p>Avenida João Cernach, 2180 - Vila Troncoso, Birigui - SP, Brasil</p>
            </address>
        </div>
    </footer>
</body>

</html>