<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header class="d-flex between">
        <div class="d-flex">
            <img src="../static/img/logo-img.png" alt="logo da Gestor Pessoal" class="logo">
            <div>
                <h1 class="gestor">GESTOR</h1>
                <h1 class="pessoal">-PESSOAL-</h1>
            </div>
        </div>
        <nav class="d-flex between">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="">Carteira</a>
            <a href="{{ url_for('cadastro') }}">Login</a>
        </nav>
    </header>
    <main>
        <section class="container">
            <form action="cadastro" class="formulario" method="POST">
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha">
                <button type="submit">Cadastrar</button>
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <section>
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                    </div>
                </section>
            {% endif %}
            {% endwith %}
        </section>



    </main>
    <footer class="d-flex around">
        <div>
            <div class="d-flex footer-logo">
                <img src="../static/img/logo-img.png" alt="logo da Gestor Pessoal" class="logo">
                <div>
                    <h1 class="gestor">GESTOR</h1>
                    <h1 class="pessoal">-PESSOAL-</h1>
                </div>
            </div>
            <div class="redes">
                <img src="static/img/instagram-logo-img.png" alt="" class="footer-icon">
                <img src="static/img/facebook-logo-img.png" alt="Logo facebook" class="footer-icon">
                <img src="static/img/whatsapp-logo-img.png" alt="Logo whatsapp" class="footer-icon">
            </div>
        </div>
        <div>
            <address>
                <p>E-mail: gestor.pessoal@gmail.com</p>
                <p>Telefone: (18) 99694-9451</p>
                <p>Avenida João Cernach, 2180 - Vila Troncoso, Birigui - SP, Brasil</p>
            </address>
        </div>
    </footer>
</body>
</html>