<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header class="d-flex between">
        <div>
            <img src="" alt="logo da Gestor Pessoal" class="logo">
            <h1>GESTOR</h1>
            <h2>-PESSOAL-</h2>
        </div>
        <nav class="d-flex between">
            <a href="index.html">Home</a>
            <a href="">Carteira</a>
            <a href="cadastro.html">Login</a>
        </nav>
    </header>
    <main>
        <form action="cadastro" class="">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <label for="senha">Senha</label>
            <input type="password" name="senha" id="senha">
            <button type="submit">Cadastrar</button>
        </form>
    </main>
    <footer>
        <div>
            <img src="" alt="logo da Gestor Pessoal" class="logo">
            <h1>GESTOR</h1>
            <h2>-PESSOAL-</h2>
        </div>
        <div>
            <address>
                <p>E-mail: gestor.pessoal@gmail.com</p>
                <p>Telefone: (18) 99694-9451</p>
                <p>Avenida João Cernach, 2180 - Vila Troncoso, Birigui - SP, Brasil</p>
            </address>
        </div>
        <div>
            <img src="static/img/instagram-logo-img.png" alt="" class="footer-icon">
            <img src="static/img/facebook-logo-img.png" alt="Logo facebook" class="footer-icon">
            <img src="static/img/whatsapp-logo-img.png" alt="Logo whatsapp" class="footer-icon">
        </div>
    </footer>
</body>
</html>