<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor Pessoal</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header class="d-flex between">
        <div class="d-flex">
            <img src="../static/img/logo-img.png" alt="logo da Gestor Pessoal" class="logo">
            <div>
                <h1 class="gestor">GESTOR</h1>
                <h1 class="pessoal">-PESSOAL-</h1>
            </div>
        </div>
        <nav class="d-flex between">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="">Carteira</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('perfil') }}">Perfil</a>
        </nav>
    </header>
    <main>


        {% if nome %}
            <h1 class="saudacao">Olá, {{ nome }}</h1>
        {% endif %}

        <section class="banner d-flex around container">
            <p>Entenda seus gastos com a <span class="font-destaque">Gestor Pessoal</span> e saiba reservar seu dinheiro conosco</p>
            <div>
                <form action="calculo-reserva" class="">
                    <label for="cobertura">Meses de cobertura</label>
                    <input type="number" name="cobertura" id="cobertura">
                    <label for="prazo">Prazo</label>
                    <input type="number" name="prazo" id="prazo">
                    <button type="submit">Calcular</button>
                </form>
            </div>
        </section>
        <section class="servicos container">
            <h2 class="titulo">Serviços</h2>
            <div class="d-flex evenly">
                <div class="servico">
                    <h3>Registro de transações</h3>
                    <p>Calculo de saldo automático a partir de suas receitas e despesas, mostrando data, descrição e valor</p>
                </div>
                <div class="servico">
                    <h3>Imposto de renda</h3>
                    <p>Posição do último dia útil do ano, dividendos, juros sobre capital próprio (JCP), rendimentos, reembolsos recebidos e mais. Confira!</p>
                </div>
                <div class="servico">
                    <h3>Calculo de reserva de emergência</h3>
                    <p>Calculo de reserva de emergência automático a partir de suas despesas e quantos meses deseja cobrir. Mostrando quanto guardar por mês e quanto meses vão durar.</p>
                </div>
            </div>
        </section>
    </main>
    <footer class="d-flex between">
        <div>
            <div class="d-flex footer-logo">
                <img src="../static/img/logo-img.png" alt="logo da Gestor Pessoal" class="logo">
                <div>
                    <h1 class="gestor">GESTOR</h1>
                    <h1 class="pessoal">-PESSOAL-</h1>
                </div>
            </div>
            <div class="redes">
                <img src="static/img/instagram-logo-img.png" alt="" class="footer-icon">
                <img src="static/img/facebook-logo-img.png" alt="Logo facebook" class="footer-icon">
                <img src="static/img/whatsapp-logo-img.png" alt="Logo whatsapp" class="footer-icon">
            </div>
        </div>
        <div>
            <address>
                <p>E-mail: gestor.pessoal@gmail.com</p>
                <p>Telefone: (18) 99694-9451</p>
                <p>Avenida João Cernach, 2180 - Vila Troncoso, Birigui - SP, Brasil</p>
            </address>
        </div>
    </footer>
</body>
</html>