<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <header class="d-flex between">
        <div class="d-flex">
            <img src="../static/img/logo-img.png" alt="logo da Gestor Pessoal" class="logo">
            <div>
                <h1 class="gestor">GESTOR</h1>
                <h1 class="pessoal">-PESSOAL-</h1>
            </div>
        </div>
        <nav class="d-flex between">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="">Carteira</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('perfil') }}">Perfil</a>
        </nav>
    </header>
    <main>
        <section class="container container-perfil">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <section>
                <div class="login-menssagem d-flex center">
                    {% for category, message in messages %}
                    <div class="login">{{ message }}</div>
                    {% endfor %}
                </div>
            </section>
            {% endif %}
            {% endwith %}
            <div class="bg-perfil d-flex center">
                
                <table class="perfil">
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th class="oi"></th>
                    </tr>
                    <tr>
                        <td>{{ usuario.nome }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>
                            <a class="botao pequeno" href="{{ url_for('abrir_editar', codigo=usuario.codigo) }}">Editar</a>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
    </main>
    <footer class="d-flex between">
        <div>
            <div class="d-flex footer-logo">
                <img src="../static/img/logo-img.png" alt="logo da Gestor Pessoal" class="logo">
                <div>
                    <h1 class="gestor">GESTOR</h1>
                    <h1 class="pessoal">-PESSOAL-</h1>
                </div>
            </div>
            <div class="redes">
                <img src="static/img/instagram-logo-img.png" alt="" class="footer-icon">
                <img src="static/img/facebook-logo-img.png" alt="Logo facebook" class="footer-icon">
                <img src="static/img/whatsapp-logo-img.png" alt="Logo whatsapp" class="footer-icon">
            </div>
        </div>
        <div>
            <address>
                <p>E-mail: gestor.pessoal@gmail.com</p>
                <p>Telefone: (18) 99694-9451</p>
                <p>Avenida João Cernach, 2180 - Vila Troncoso, Birigui - SP, Brasil</p>
            </address>
        </div>
    </footer>
</body>

</html>