<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <header class="d-flex between">
        <div class="d-flex">
            <img src="../static/img/logo-img.png" alt="logo da Gestor Pessoal" class="logo">
            <div>
                <h1 class="gestor">GESTOR</h1>
                <h1 class="pessoal">-PESSOAL-</h1>
            </div>
        </div>
        <nav class="d-flex between">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="">Carteira</a>
            <a href="{{ url_for('cadastro') }}">Login</a>
        </nav>
    </header>
    <main>
        <section class="container">
            <table>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                </tr>
                <tr>
                    <td>{{ nome }}</td>
                    <td>{{ email }}</td>
                    <td>
                        <a class="botao pequeno" href="/editar_livro/{{ loop.index0 }}"><img src="./static/img/editar.png" alt="icone de editar" width="20px"></a>
                    </td>
                </tr>
                {% with mensagens = get_flashed_messages() %}
                {% if mensagens %}
                <ul class="flash-messages">
                    {% for msg in mensagens %}
                    <li class="flash">{{ msg }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                </table>
        </section>
    </main>
    <footer class="d-flex around">
        <div>
            <div class="d-flex footer-logo">
                <img src="../static/img/logo-img.png" alt="logo da Gestor Pessoal" class="logo">
                <div>
                    <h1 class="gestor">GESTOR</h1>
                    <h1 class="pessoal">-PESSOAL-</h1>
                </div>
            </div>
            <div class="redes">
                <img src="static/img/instagram-logo-img.png" alt="" class="footer-icon">
                <img src="static/img/facebook-logo-img.png" alt="Logo facebook" class="footer-icon">
                <img src="static/img/whatsapp-logo-img.png" alt="Logo whatsapp" class="footer-icon">
            </div>
        </div>
        <div>
            <address>
                <p>E-mail: gestor.pessoal@gmail.com</p>
                <p>Telefone: (18) 99694-9451</p>
                <p>Avenida João Cernach, 2180 - Vila Troncoso, Birigui - SP, Brasil</p>
            </address>
        </div>
    </footer>
</body>

</html>